{% extends 'base.html.twig' %}

{% block title %}Formulaire RH de la Présidence de la République!{% endblock %}


    

{% block body %}

<section id="four" align="center" style="z-index: 1; padding-bottom: 50px;">
      <a href="#one"><img src="img/Logo ADN_122.png" width="150px" alt="" style="padding-top: 20px; padding-bottom: 20px;" /></a>
  
      <style type="text/css">
          .par {
              position: relative;
          }
  
          i {
              color: #fe0101;
              left: -15px;
              top: 5px;
              position: absolute;
          }
          .paraimport p {
              text-align: left;
              font-style: italic;
              font-weight: 400;
          }
      </style>
  
      <div class="row" align="center" style="justify-content: center; align-items: center; display: flex;">
          <div class="important" align="center">
              <h4>Bienvenue dans le formulaire en ligne de la Présidence de la République pour l'enregistrement des membres du personnel.</h4>
  
              <div class="separator"></div>
  
              <p style="text-align: center;">
                  Il a été élaboré par le service de la Coordination des Ressources Humaines en collaboration avec la Cellule de mise en œuvre du Projet de Numérisation des services de la Présidence de la République (CPN-PR).
              </p>
  
              <div style="margin-top: 20px;">
                  <a href="" class="btn btn-success" style="color: #fff; background-color: #052a75; font-size: 110%; padding: 10px 20px 10px 20px; cursor: pointer; text-decoration: none;">Commencer</a>
              </div>
          </div>
      </div>
    </section>
  
    <div style="height: 100%; width: 100%; background-color: #fff; position: absolute; opacity: 0.5;"></div>

{% endblock %}
